"Test Landing"
{% extends "pubbase.html" %} {% block title %}Welcome{% endblock %} {% block content
  %}

<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbar">
  <div class="navbar-nav">
    
    <a class="nav-item nav-link" id="home" href="/">Home</a>
    <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
    <a class="nav-item nav-link" id="login" href="/login">Login</a>
    <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>

  {% endblock %}
    

